# LLM Provider Configuration
LLM_PROVIDER=openai  # or 'ollama'

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-3.5-turbo  # optional, defaults to gpt-3.5-turbo
OPENAI_TIMEOUT=30  # optional, defaults to 30 seconds
OPENAI_MAX_TOKENS=2000  # optional, defaults to 2000

# Ollama Configuration
LLAMA3_API_KEY=
LLAMA_MODEL=llama3.1  # optional, defaults to llama3.1
OLLAMA_TIMEOUT=5  # optional, defaults to 5 seconds

# Database Configuration
DATABASE_URL=
JWT_ACCESS_SECRET=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
DEBUG=

# RabbitMQ Configuration
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_PORT=
METRICS_PORT=9102

# MongoDB Configuration
MONGODB_HOST=
MONGODB_USERNAME=
MONGODB_PASSWORD=

# Redis Configuration
REDIS_HOST=
REDIS_PORT_NUMBER=
REDIS_PASSWORD=

# Qdrant Configuration
QRANT_HOST=
QRANT_PORT= 
